:root{
  --primary-color:rgba(59, 61, 72, 1);
  --secondary-color:rgba(211, 165, 24, 1);
  --secondary-color-1:rgb(172, 134, 22);
  --grey-0:rgba(216, 220, 242, 1);
  --grey-1:rgba(180, 184, 198, 1);
  --grey-2:rgba(225, 225, 234, 0.3);
  --grey-blue:rgba(179, 178, 225, 1);
  
}

::-webkit-scrollbar{
  width: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  overflow-y: hidden;
}

body{
  background-color: #707489;
  margin-block:15px;
  height: 100%;
}

#root{
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.container-searchbar{
  background-color: var(--primary-color);
  display: flex;
  width: 90%;
  justify-content: space-around;
  padding-inline: 14px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
}


.container-searchbar--searchbar{
  background-color: var(--primary-color);
  width: 80%;
  height: 55px;
  border: none;
  color: white;
}

.container-searchbar--search-icon{
  background-image: url('/src/assets/icons/search.svg');
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-searchbar--filter-icon{
  background-image: url('/src/assets/icons/filter.svg');
  background-size: cover;
  opacity: 0.7;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.drinks{
  list-style: none;
  height: 70%;
  width: 100%;
  display: flex;
  overflow: scroll;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
}

.drinks--drink-card{
  flex-shrink: 0;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  margin-inline-start: 30px;
  width: 80%;
  border-radius: 15px;
  position: relative;
  scroll-snap-align: center;
}

.drinks--drink-card:nth-child(1){
  margin:0
}

.drinks--drink-card--title-container{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.40);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: auto;
  bottom: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-block: 15px;
}

.drinks--drink-card--title-container--title{
  color: white;
  font-size: 2rem;
}

.drinks--drink-card--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.random-btn{
  padding: 15px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  transition: all ease 200ms;
}

.random-btn:active{
  box-shadow: none;
  background-color:var(--secondary-color-1);
}