:root{
  --primary-color:rgba(59, 61, 72, 1);
  --secondary-color:rgba(211, 165, 24, 1);
  --secondary-color-1:rgb(172, 134, 22);
  --grey-0:rgba(216, 220, 242, 1);
  --grey-1:rgba(180, 184, 198, 1);
  --grey-2:rgba(225, 225, 234, 0.3);
  --grey-blue:rgba(179, 178, 225, 1);
  
}

::-webkit-scrollbar{
  width: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  overflow-y: hidden;
}

body{
  background-color: var(--primary-color);
  background-position: center;
  background-size: cover;
  height: 100%;
}

#root{
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.searchbar{
  width: 90%;
}

.searchbar--container-searchbar{
  background-color: var(--primary-color);
  display: flex;  
  width: 100%;
  justify-content: space-around;
  padding-inline: 14px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
}


.searchbar--container-searchbar--input{
  background-color: var(--primary-color);
  width: 80%;
  height: 55px;
  border: none;
  color: var(--grey-1);
  padding: 10px;
  font-size: 1.2rem;
}

.searchbar--container-searchbar--search-icon{
  background-image: url('/src/assets/icons/search.svg');
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.searchbar--container-searchbar--filter-icon{
  background-image: url('/src/assets/icons/filter.svg');
  background-size: cover;
  opacity: 0.7;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.searchbar--container-results{
  background: white;
  position: absolute;
  width: 90%;
  margin-top: 10px;
  z-index: 1;
  padding: 10px;
  height: 100%;
}

.searchbar--container-results--results{
  list-style: none;
  /* position: absolute; */
}

.drink-card{
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  background: var(--grey-2);
  width: 90%;
  height: 70%;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-card-content{
  height: 100%;
}

.drink-card--drink-card-content--title-container{
  background-color: rgba(0, 0, 0, 0.40);
  width: 100%;
  align-items: center;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
  height: auto;
  bottom: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-block: 15px;
}

.drink-card--drink-card-content--title-container--title{
  color: white;
  font-size: 2rem;
}

.drink-card--drink-card-content--drink-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.random-btn{
  padding: 15px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  transition: all ease 200ms;
}

.random-btn:active{
  box-shadow: none;
  background-color:var(--secondary-color-1);
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--primary-color);
  border-color: var(--primary-color) transparent var(--primary-color) transparent;
  animation: loader 1.2s infinite;
}

@keyframes loader{
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
